.App {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  text-align: center;
}

.top-line {
  height: 10px;
  background-color: var(--light-turquoise);
}
.btn-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  font-size: 18px;
  padding: auto;
  font-weight: 500;
  border: none;
  text-align: center;
  height: 100%;
  width: 100%;
  box-shadow: -1px -1px 0px 1px rgb(0 0 0 / 25%);
} 
button {
  position: relative;
  background-color: var(--light-turquoise);
  box-shadow: inset -1px -1px 1px 1px rgb(0 0 0 / 25%) !important;
  position: relative;
  top: 0px;
  left: 0px;
}
button:hover {
  background-color: #fff;
}

.body-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: calc(100vh - 180px);
  width: 80%;
  max-width: 1200px;
  min-width: 815px;
  background: #fff;
  box-sizing: border-box;
}

.border {
  border: 4px solid #000;
}
