.observation {
  display: flex;
  margin-top: -20px;
  margin-bottom: 20px;
}

.observation-title {
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  width: 35%;
  min-width: 202px;
  font-weight: bold;
}

.observation-description {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 65%;
}
