.Footer-text {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: var(--color1);
  align-items: center;
}
