* {
  font-size: 1rem;
  line-height: 125%;
  --color1: #00254d;
  --color2: #54c5c1;
  --light-turquoise: #D1F2F2;
  --light-yellow: #fff8d6;
  --dark-yellow: #f7c364;
  color: var(--color1);
  transition: all 0.1s ease-in-out;
}

body {
  margin: 0;
  font-family: Circular-Std, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color2);
}
