* {
  font-size: 1rem;
  line-height: 125%;
  --color1: #00254d;
  --color2: #54c5c1;
  --color3: #fff8d6;
  color: var(--color1);
}

body {
  margin: 0;
  font-family: Circular-Std, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
